@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap");
html, body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif; }

body {
  background-color: #FFFFFF;
  color: #14110F; }

p {
  background-color: inherit;
  color: inherit; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 0;
  font-style: italic; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  font-style: italic; }

.h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  font-style: italic; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  font-style: italic; }

.h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  font-style: italic; }

h4 {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 0; }

a, ul, li {
  padding: 0;
  list-style-type: none;
  text-decoration: none; }

a:hover {
  color: inherit;
  text-decoration: none; }

a.active:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  text-decoration: none;
  border-radius: 5px;
  color: #F09F2D;
  transition: transform 0.25s ease-out; }

button {
  color: inherit;
  background-color: inherit;
  border: none;
  font: inherit;
  outline: none;
  text-decoration: none; }

button:focus {
  outline: 0;
  text-decoration: none;
  border: none; }

img {
  height: inherit;
  width: 100%;
  border-radius: 2rem;
  object-fit: contain;
  animation: fadeInDown 800ms ease-out both; }

i {
  color: #3AA680; }
