@inherits LayoutComponentBase


<div class="page bg-dark ">

    <div class="d-lg-none position-sticky top-0 z-index-offcanvas">
        <button class="btn bg-dark" type="button"data-bs-toggle="offcanvas" data-bs-target="#OffcanvasSidebar">
            <i class="fa fa-bars fa-lg text-accent" on></i>
        </button>
        <div class="offcanvas offcanvas-start text-center" tabindex="-1" id="OffcanvasSidebar">
            <Sidebar />
        </div>
    </div>


    <div class="d-none d-lg-block z-index-offcanvas">
        <div class="sidebar">
            <Sidebar />
        </div>
    </div>


    <div class="main m-4">
        @Body
    </div>

</div>
