@import "definitions.scss";

@keyframes fadeInDown {
    0% {
        display: none;
        opacity: 0;
        top: -20px;
    }

    100% {
        display: block;
        opacity: 1;
        top: 0px;
    }
}


@keyframes circle-ripple {
    0% {
        height: 0;
        width: 0;
        left: 20px;
        top: 20px;
    }

    100% {
        height: $loader-height;
        width: $loader-width;
        left: -5px;
        top: -5px;
        opacity: 0;
    }
}
