@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$font-stack: 'Nunito', sans-serif;
$font-header: 'Nunito', sans-serif;
$white: #EFF1F3;
$black: #14110F;
$primary: #77be8d;
$accent: #FC9E4F;
$danger: #DF2935;
$dark: #242F36; //#1B4B3A; //#0E0F3B;
$light: #B4E4D2;
$loader-height: 3rem;
$loader-width: 3rem;



$underline-color: --underlinecolor;




