@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap');
$font-stack: 'M PLUS Rounded 1c', sans-serif;
$font-header: 'Montserrat', sans-serif;
$white: #FFFFFF;
$black: #14110F;
$primary: #3AA680;
$accent: #F09F2D;
$danger: #DE3C4B;
$dark: #1B4B3A; //#0E0F3B;
$light: #B4E4D2;
$loader-height: 3rem;
$loader-width: 3rem;






