<div class="mb-4">
    <h1 class="text-white">@Title</h1>
    <p class="text-accent">@SubTitle</p>
</div>

<hr class="mb-4" />

@code{
    [Parameter] public string Title { get; init; } = string.Empty!;
    [Parameter] public string SubTitle { get; init; } = string.Empty!;
}