<div class="text-center">

    <div class="d-lg-none text-end">
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#OffcanvasSidebar">
            <i class="fa fa-window-close fa-lg" on></i>
        </button>
    </div>

    <NavLink ActiveClass="active" class="logo" href="/">joep.</NavLink>

    <hr />
    <ul>

         <li class="list-group-item" data-bs-toggle="offcanvas" data-bs-target="#OffcanvasSidebar">
            <NavLink ActiveClass="active" class="link" href="/about">Who am I?</NavLink>
        </li>

        <li class="list-group-item" data-bs-toggle="offcanvas" data-bs-target="#OffcanvasSidebar">
            <NavLink ActiveClass="active" class="link" href="/projects">Projects</NavLink>
        </li>

        <li class="list-group-item" data-bs-toggle="offcanvas" data-bs-target="#OffcanvasSidebar">
            <NavLink ActiveClass="active" class="link" href="/running">Running</NavLink>
        </li>

        <li class="list-group-item" data-bs-toggle="offcanvas" data-bs-target="#OffcanvasSidebar">
            <NavLink ActiveClass="active" class="link" href="/music">Music</NavLink>
        </li>
    </ul>
    <hr />
    <div class="container-fluid">
        <div class="row row-cols-2 g-3">
            <div class="col">
                <a href="https://github.com/joesimop" class="fa fa-github icon" target="_blank"></a>
            </div>
            <div class="col">
                <a href="https://www.linkedin.com/in/joseph-simopoulos-b08bb9163" class="fa fa-linkedin icon" target="_blank"></a>
            </div>
            <div class="col">
                <a href="mailto:joesimop8@gmail.com?Subject=Hello!" class="fa fa-envelope icon" target="_blank"></a>
            </div>
            <div class="col">
                <a href="https://www.instagram.com/joe_simop/" class="fa fa-instagram icon" target="_blank"></a>
            </div>
        </div>
    </div>
</div>
