@page "/"

<div class="w-75 ms-4">
    <h1 class="text-accent mb-4">Hey, name's Joe.</h1>
    <h3>
        I'm a full-stack developer studying Computer Science and Math at Cal Poly.
        Feel free to check out my
        <Link IsInline class="link in-text-link" href="/running">running</Link>
        page, a way to give my parents daily updates of my life while attending school.
        Recruiters, you might take a technical interest in the page as well. Otherwise, if you're asking,
        "<Link IsInline class="link in-text-link" href="/about">Who is this guy?</Link>", you know where to look.
        My <Link IsInline class="link in-text-link" href="/projects">projects</Link> are fun too, if you're into tech-y things.
    </h3>
</div>
<p class="float-end floored text-accent">Please be nice to bugs, they never did anything to you.</p>
