@page "/projects"

<PageHeader Title="Projects" SubTitle="A place to view a few of my project; ordered from newest to oldest." />

<div class="d-flex justify-content-around flex-wrap">

    <Project NODE REACT MONGODB Title="PolyPage">
        <Description>
            Developing in a team of five, PolyPage was made to act as a custom homepage with the quick access to your daily needs. Specific contributions include: Mobile backend calls, mobile design, tile movement and initilization, tile inheritance, and more.
        </Description>
    </Project>

    <Project C Title="HTTP Web Server">
        <Description>
            An HTTP webserver written in C that uses poll() (nonblocking) and sockets.h to return json, text/plain, and html documents from specific locations on a server for multiple clients at once.
        </Description>
    </Project>

    <Project C Title="Network Packet Sniffer">
        <Description>
            Using a library called libpcap, I grabbed packets and deciphered the byte data up through the relevant Layer 3 headers. The data is then printed to stdout, and we can see the packet data! I used Wireshark to learn about protocol conventions.
        </Description>
    </Project>

    <Project NET CSHARP BLAZOR MONGODB Title="Portfolio Website">
        <Description>
            Using Blazor, C#, and ASP.NET Core 6, I developed a full stack website for practice, a way to stay organized, and to keep daily track of my runs via my <NavLink href="/running">running</NavLink> page.
        </Description>
    </Project>

    <Project CPLUSPLUS Title="Frequency Band Analyzer">
        <Description>
            Using an ESP32, a MSGEQ7 (frequency analyzer), FastLED (LED Strip Interface Library), and some C++ code, this RGB LED Animation Framework reacts to music, animates multiple LED strips in sync, dynamically updates animations in real time, and supports userdefined animations.
        </Description>
    </Project>

    <Project C Title="LZW Compression in C">
        <Description>
            An implementation of a lossless data compression algorithm written in C.
        </Description>
    </Project>

    

</div>